@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Emoji';
  src: local('Apple Color Emoji');
  unicode-range: U+2600-27BF;
}

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
  --font-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-secondary: Inter var, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(237, 238, 245);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  @apply pb-4 text-4xl font-bold;
}

h2 {
  @apply mb-3 font-bold uppercase;
  font-family: var(--font-secondary);
}

input {
  @apply rounded-sm border-2 border-primary-300 bg-white py-1 pl-2 pr-0 placeholder-slate-500 accent-primary-600 outline-none transition-all ease-in invalid:border-red-800 invalid:bg-red-200 out-of-range:border-red-800 out-of-range:bg-red-200 hover:bg-primary-200 hover:accent-primary-700 focus:bg-primary-50 disabled:border-slate-500 disabled:bg-slate-100 disabled:placeholder-slate-400;
}

label {
  @apply border-2 border-transparent p-1;
}

button,
button[type='button'],
button[type='reset'],
button[type='submit'] {
  @apply inline-flex items-center justify-center rounded-md bg-primary-400 px-4 py-2 font-semibold uppercase text-white transition-all transition-colors ease-in ease-in hover:bg-primary-500 active:bg-primary-300 disabled:bg-slate-500 disabled:text-white disabled:opacity-50;
  font-family: var(--font-secondary);
}

section {
  @apply mx-auto mt-10 bg-white p-6;
}

.main-margin {
  margin: 10vh 10vw;
}
