@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Emoji';
  src: local('Apple Color Emoji');
  unicode-range: U+2600-27BF;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(237, 238, 245);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  @apply pb-4 text-3xl font-extrabold;
}

h2 {
  @apply mb-3 font-bold uppercase;
}

input {
  @apply rounded-sm border-2 border-primary-300 bg-white py-1 pl-2 pr-0 placeholder-slate-500 accent-primary-600 outline-none transition-all ease-in invalid:border-red-800 invalid:bg-red-200 out-of-range:border-red-800 out-of-range:bg-red-200 hover:bg-primary-200 hover:accent-primary-700 focus:bg-primary-50 disabled:border-slate-500 disabled:bg-slate-100 disabled:placeholder-slate-400;
}

label {
  @apply border-2 border-transparent p-1;
}

button,
button[type='button'],
button[type='reset'],
button[type='submit'] {
  @apply inline-flex items-center justify-center rounded-md bg-primary-400 px-4 py-2 font-semibold uppercase text-white transition-all transition-colors ease-in ease-in hover:bg-primary-500 active:bg-primary-300 disabled:bg-slate-500 disabled:text-white disabled:opacity-50;
}

section {
  @apply mx-auto mt-6 bg-white p-6 sm:mt-8 sm:px-7;
}

.color-palette-green {
  @apply bg-teal-400 hover:bg-teal-500;
}

.color-palette-red {
  @apply bg-rose-400 hover:bg-rose-500;
}

.main-margin {
  margin: 10vh 20vw;
  @media (max-width: 1024px) {
    margin: 10vh 10vw;
  }
}

@media (max-width: 640px) {
  .scrollbar::-webkit-scrollbar {
    width: 1.5vw;
    background-color: rgb(219, 207, 239);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #2dd4bf;
    border-radius: 2vw;
  }
}
