@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Emoji';
  src: local('Apple Color Emoji');
  unicode-range: U+2600-27BF;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(237, 238, 245);
  @apply text-sm sm:text-base;
}

footer {
  @apply relative mt-10 flex items-center justify-center space-y-4 text-sm text-slate-600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  @apply text-left font-extrabold leading-tight sm:pb-2 sm:text-center;
  font-size: 2.1rem;
}

h2 {
  @apply mb-3 font-extrabold uppercase;
}

p {
  @apply mt-0 text-slate-500 sm:mt-2;
}

input {
  @apply rounded-sm border-2 border-primary-300 bg-white py-1 pl-2 pr-0 placeholder-slate-500 accent-primary-600 outline-none transition-all transition-opacity duration-200 ease-in invalid:border-red-800 invalid:bg-red-200 out-of-range:border-red-800 out-of-range:bg-red-200 focus:bg-primary-50 disabled:border-slate-500 disabled:bg-slate-100 disabled:placeholder-slate-400 md:hover:accent-primary-700;
}

input[type='checkbox'] {
  @apply z-10 ml-1 mr-0.5 scale-125 ring-primary-400 focus:outline-primary-400 focus-visible:ring-2;
}

label {
  @apply border-2 border-transparent p-1;
}

button,
button[type='button'],
button[type='reset'],
button[type='submit'] {
  @apply color-palette-violet inline-flex items-center justify-center rounded-md px-3 py-1 font-bold uppercase text-white transition-all transition-colors ease-in ease-in active:bg-primary-300 disabled:bg-slate-300 disabled:text-white disabled:hover:bg-slate-300 sm:px-5;
}

section {
  @apply mx-auto mt-6 bg-white p-6 pb-7 sm:mt-8 sm:px-7;
}

.color-palette-green {
  @apply bg-teal-400 hover:bg-teal-400 md:hover:bg-teal-500;
}

.color-palette-violet {
  @apply bg-violet-600 hover:bg-violet-600 md:hover:bg-violet-700;
}

.color-palette-red {
  @apply bg-rose-400 hover:bg-rose-400 md:hover:bg-rose-500;
}

.color-palette-blue {
  @apply bg-blue-400 hover:bg-blue-400 md:hover:bg-blue-500;
}

.color-button-activated {
  @apply bg-primary-400 hover:bg-primary-400 md:hover:bg-primary-500;
}

.outer-margin {
  margin: 10vh 24vw;
  @media (max-width: 1024px) {
    margin: 7vh 8vw;
  }
}

.section-list {
  @media (min-width: 768px) {
    max-width: calc(50% - 1.25rem);
  }
}

.popup {
  @apply fixed bottom-5 left-1/2 z-50 mb-4 -translate-x-1/2 -translate-y-1/2 transform rounded-lg bg-white text-center text-black shadow-3xl;
  will-change: transform;
}

.popup p {
  @apply text-black;
}

.modal-style {
  @apply popup p-8;
  width: 25vw;
  animation: 0.35s cubic-bezier(0.21, 1.02, 0.73, 1) 0s 1 normal forwards running appearing;
  @media (max-width: 1024px) {
    width: 75vw;
  }
}

.toast-style {
  @apply popup px-6 py-5 pt-4;
  animation: 0.35s cubic-bezier(0.21, 1.02, 0.73, 1) 0s 1 normal forwards appearing,
    0.5s cubic-bezier(0.21, 1.02, 0.73, 1) 2s 1 reverse forwards appearing;
  @media (max-width: 1024px) {
    min-width: 60vw;
    max-width: 85vw;
  }
}

@keyframes appearing {
  0% {
    transform: translate3d(-50%, 200%, 0) scale(0.6);
    opacity: 0.5;
  }
  100% {
    transform: translate3d(-50%, 0, 0) scale(1);
    opacity: 1;
  }
}

::-webkit-scrollbar {
  @apply w-1.5 bg-slate-300 sm:w-2;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-teal-400;
}
